.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative; /* 상대적 포지셔닝 기준 제공 */
}

.header::before,
.header::after {
  content: '';
  flex: 1;
}

.titleContainer {
  flex-grow: 0;
  font-size: 80px;
  text-align: center;
}

.right-section {
  position: absolute;
  top: 50; /* 화면 상단에서의 위치 */
  right: 0; /* 화면 오른쪽에서의 위치 */
  display: flex;
  justify-content: flex-end; /* 오른쪽 끝으로 정렬합니다 */
}

.right-section button {
  font-size: 20px; /* 글자 크기를 24px로 설정 */
}

@font-face {
  font-family: 'ChosunSm';
  src: url('../fonts/ChosunSm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}