.parentContainer {
  display: flex; /* Flexbox 레이아웃을 활성화합니다. */
  width: 100%; /* 부모 컨테이너가 전체 가로 너비를 차지하도록 설정합니다. */
}

/* .menuContainer에 대한 스타일 */
.menuContainer {
  flex-basis: 30%; /* 기본 크기를 전체의 30%로 설정합니다. */
  margin: 0 10px; /* 필요한 경우 여백을 추가합니다. */
}

/* .attachedContainer에 대한 스타일 */
.attachedContainer {
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정합니다. */
  margin: 0 10px; /* 요소들 사이의 간격을 추가합니다. */
  display: flex; /* Flexbox 레이아웃을 활성화합니다. */
  justify-content: center; /* 가로 축에서 내용을 중앙 정렬합니다. */
  align-items: center; /* 세로 축에서 내용을 중앙 정렬합니다. */
}
.withdrawal {
  margin-top: 300px;
}
